th {
    border-bottom: 1px solid #d6d6d6;
}

tr:nth-child(even) {
    background: #e9e9e9;
}

#compras-table thead {
    display: none;
}


@media only all {
    .ui-table-reflow td, .ui-table-reflow th {
        text-align: left;
        display: table-cell;
    }
}

.list-itens .ui-listview .ui-btn-icon-right {
    padding-right: 0px;
}

/* A bit custom styling */
.list-itens .ui-listview li .ui-btn p {
    color: #c0c0c0;
}
.list-itens .ui-listview li .ui-btn .ui-li-aside {
    color: #eee;
}


.my-page .ui-content {
    padding: 0px;
}



.list-itens .ui-listview li > .ui-btn {
    -webkit-box-sizing: border-box; /* include padding and border in height so we can set it to 100% */
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 100%;
}
.list-itens .ui-listview li.ui-li-has-thumb .ui-li-thumb {
    height: auto; /* To keep aspect ratio. */
    max-width: 100%;
    max-height: none;
}
/* Make all list items and anchors inherit the border-radius from the UL. */
.list-itens .ui-listview li,
.list-itens .ui-listview li .ui-btn,
.list-itens .ui-listview .ui-li-thumb {
    -webkit-border-radius: inherit;
    border-radius: inherit;
}
/* Hide the icon */
.list-itens .ui-listview .ui-btn-icon-right:after {
    display: none;
}
/* Make text wrap. */
.list-itens .ui-listview h2,
.list-itens .ui-listview p {
    white-space: normal;
    overflow: visible;
    position: absolute;
    left: 0;
    right: 0;
}
/* Text position */
.list-itens .ui-listview h2 {
    font-size: 1.25em;
    margin: 0;
    padding: .125em 1em;
    /*bottom: 50%;*/
}
.list-itens .ui-listview p {
    font-size: 1em;
    margin: 0;
    padding: 0 1.25em;
    min-height: 50%;
    bottom: 0;
}
/* Semi transparent background and different position if there is a thumb. The button has overflow hidden so we don't need to set border-radius. */
.ui-listview .ui-li-has-thumb h2,
.ui-listview .ui-li-has-thumb p {
    background: #af3000;
    background: rgba(175, 48, 0, 0.80);
}
.ui-listview .ui-li-has-thumb h2 {
    top: 60%;
    font-size: 0.9em;
}
.ui-listview .ui-li-has-thumb p {
    min-height: 35%;
}
/* ui-li-aside has class .ui-li-desc as well so we have to override some things. */
.list-itens .ui-listview .ui-li-aside {
    padding: .125em .625em;
    width: auto;
    min-height: 0;
    top: 0;
    left: auto;
    bottom: auto;
    /* Custom styling. */
    background: #af3000;
    background: rgb(175, 48, 0);
    -webkit-border-top-right-radius: inherit;
    border-top-right-radius: inherit;
    -webkit-border-bottom-left-radius: inherit;
    border-bottom-left-radius: inherit;
    -webkit-border-bottom-right-radius: 0;
    border-bottom-right-radius: 0;
}
/* If you want to add shadow, don't kill the focus style. */
.list-itens .ui-listview li {
    -moz-box-shadow: 0px 0px 9px #111;
    -webkit-box-shadow: 0px 0px 9px #111;
    box-shadow: 0px 0px 9px #111;
}
/* Images mask the hover bg color so we give desktop users feedback by applying the focus style on hover as well. */
.list-itens .ui-listview li > .ui-btn:hover {
    -moz-box-shadow: 0px 0px 12px #ffbf54;
    -webkit-box-shadow: 0px 0px 12px #ffbf54;
    box-shadow: 0px 0px 12px #ffbf54;
}
/* Animate focus and hover style, and resizing. */
.list-itens .ui-listview li,
.list-itens .ui-listview .ui-btn {
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    transition: all 500ms ease;
}




@media ( min-width: 561px ) {
    .ui-block-a {
        width: 40% !important;
    }
    .ui-block-b {
        width: 60% !important;
    }

    .ui-listview .ui-li-has-thumb h2 {
        top: 60%;
        font-size: 0.9em;
    }
}


.list-itens .ui-listview li {
    float: left;
    width: 30%;
    height: 170px;
    margin: .5625em 1.5%;
}


/* breakpoint 768px */
@media ( min-width: 768px ) {
    .list-itens .ui-listview li {
        float: left;
        width: 20%;
        height: 180px;
        margin: .5625em 1%;
    }

    .ui-block-a {
        width: 40% !important;
    }
    .ui-block-b {
        width: 60% !important;
    }
}

/* breakpoint 1020px */
@media ( min-width: 1020px ) {
    .list-itens .ui-listview {
        max-width: 62.5em;
        margin: 0 auto;
    }
    .list-itens .ui-listview li {
        width: 18%;/*23%;*/
        height: 180px;
        margin: .625em 1%;
    }
}


